header{
    background-color: white;
    color: black;
}

html, body{
    margin: 0;
    
}

.container{
    margin-bottom: 15px;
    margin-top: 15px;
}

.meat{

     background-color:#ffffff;
}

.navlink{
    color: black;
}
.navlink:hover{
    color: grey;
}

#faq{
    background-color: #1A1C23;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    
}
#stuff{
    background-color:  #A2BFE6;
    margin-bottom: 20px;
    padding: 20px;
}

#insetPhoto{
    width: 97%;
    padding: 5px;
}

p a {
    color: #1F2125;
}
p a:hover{
    color:#0051B8;
}

.brdr{
    border: solid;
    border-width: 2px;
}

#pic{
    align-self: center;
    width: 50%;    
}

#picRow{
    padding: 3%;
}
