@media (prefers-color-scheme: dark) {
  body,
  [data-theme="dark"] {
    /*dark*/
    color-scheme: dark;
    --background: #0d1117;
    --foreground: #ffffff;
    --accent: grey;
    }
}

@media (prefers-color-scheme: light) {
  body,
  [data-theme="light"] {
    /*light*/
    color-scheme: light;
    --background: white;
    --foreground: black;
    --accent: grey;
  }
}

@media (prefers-color-scheme: dark) {
  header,
  [data-theme="dark"] {
    /*dark*/
    color-scheme: dark;
    --background: #0d1117;
    --foreground: #ffffff;
    --accent: grey;
    }
}

@media (prefers-color-scheme: light) {
  header,
  [data-theme="light"] {
    /*light*/
    color-scheme: light;
    --background: white;
    --foreground: black;
    --accent: grey;
  }
}

header{
    background-color: var(--background);
    color: var(--foreground);
}


body {
    margin: 0; 
    background-color: var(--background) !important;
    color: var(--foreground) !important;

}

.navlink{
    color: var(--foreground);
}

.navlink:hover{
    color: var(--accent) !important;
}

#pic{
    align-self: center;
    width: 60vw;    
    height: auto;
    max-height: 70vh;
    object-fit: contain;
}

#picRow{
    padding: 3%;
}
