---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /login/
Disallow: /games/holdem/admin/
Disallow: /photos/admin/
Disallow: /games/trivia/stats/
Sitemap: {{ site.url }}/sitemap.xml
